/* You can add global styles to this file, and also import other style files */
body  {
    background-image: url("/assets/images/fundo1.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    
}

h2 {
    color: #fff;
}

div {
    background-color: black
}